body {
    font-family: 'Open Sans', sans-serif;
    color: #454545;
    background: url('https://www.admin.ch/etc/designs/core/frontend/guidelines/img/bg-striped.png');
}

.title {
    padding-left: 1.8rem;
    background-color: white;
    margin-bottom: 2rem;
    border-bottom: 5px solid #DC0018;

    h1 {
        margin: 0;
        line-height: 2em;
        font-weight: normal;
    }
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
